# Python env / cache
.venv/
venv/
__pycache__/
*.pyc

# Secrets / config
.env
instance/

# DB / migrations (optional)
*.sqlite3
migrations/

# IDE
.vscode/

# css & js
static/* linguist-vendored
*.js linguist-vendored
*.css linguist-vendored
